@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
    --var-cor-1: #5964e0;
    --var-cor-2: #FEFFFF;
    --var-cor-3: #F5F6F8;
    --var-cor-4: #98989A;
    --var-cor-5: #000009;
}

/** --------------- ESTILOS GERAIS ------------------- **/

body {
    font-family: 'Nunito', sans-serif;
}


a {
    text-decoration: none;
}

/**------------------ HEADER ---------------------------**/

.header {
    background-color: var(--var-cor-1);
}

.header-title  {
    font-size: 2rem;
    padding: 20px 0 20px 20px;
}

.header-title > a {
    color: var(--var-cor-2);
    font-weight: 700;
}

.title {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/**----------------- SELECT BOX --------------------------**/

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    position: relative;
}

.select select {
    width: 200px;
    padding: 8px;
    border: none;
    background-color: var(--var-cor-3);
    outline-color: var(--var-cor-4);
}

.select option {
    text-transform: uppercase;
    color: var(--var-cor-5);
    
}
.select > p {
    padding: 10px;
    color: var(--var-cor-4);
    font-weight: 600;
}

/**------------------- FILTER ROLES ------------------------**/

.filter-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.filter-container form {
    padding: 10px 0 0 0;
    
}

.filter-container label {
    padding: 8px;
    max-width: 200px;
    background-color: var(--var-cor-3);
    border-radius: 10px;
    color: var(--var-cor-4);
}

.filter-container input {
    margin: 20px;
   
   
}

.filter-container p {
    color: var(--var-cor-4);
    font-weight: 600;
}


/**-------------------- TABLE CONTAINER -------------------**/

.table-container {
    max-width: 90%;
    margin: 20px auto 0 auto;
    background-color: var(--var-cor-3);
    display: flex;
    
}

table {
    width: 100%;
    
    
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 600;
    color: var(--var-cor-5);
    padding: 10px 0;
}

td {
    text-align: center;
    width: 100%;
    color: var(--var-cor-4);
   
}

.titulo-table {
    color: var(--var-cor-5);
    font-weight: 700;
}






